.#{$namespace}-button {
  display: inline-block;
  border: none;
  outline: none;
  padding: 10px 30px;
  color: $tetrary-color;

  &--primary {
    background-color: $primary-color;
  }

  &--secondary {
    background-color: $secondary-color;
  }
}
