.#{$namespace}-button {
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 5px 10px;

  &--primary {
    background-color: aquamarine;
  }

  &--secondary {
    background-color: burlywood;
  }
}
