$primary-color: #f19c20;
$secondary-color: #0195e6;
$main-text-color: #000000;
$disabled-color: #b1b1b1;
$shadow-color: #eae9e1;
$tetrary-color: #ffffff;

$font-size-giant: 45px;
$font-size-huge: 32px;
$font-size-big: 22px;
$font-size-medium: 16px;
$font-size-small: 14px;

$line-height-giant: 67.5px;
$line-height-huge: 48px;
$line-height-big: 33px;
$line-height-medium: 24px;
$line-height-small: 21px;

$font-weight-normal: 500;

$font-family: 'Poppins';

$radius-normal: 9px;
